@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500&family=Josefin+Sans:wght@100;200;300;400;500&family=Noto+Sans:wght@300&display=swap');


body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  overflow: hidden;
}
main{
  padding : 20px;
  background: #fff;
  position: relative;
  top: 0;
  z-index: 0;
}
 @media (min-width : 768px){
    main{
      margin : 0 0 0 88px;
    }  
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
